body{
    background-color:rgba(27, 58, 93, 1);
}
.logo-text{
    color: white;
}



ul li a{
    color: white;
}

main div{
    display: block;
    /* align-items: center; */
    margin: 5rem auto;
    width: 40rem;
    height: 35rem;
    background-color: rgba(43, 88, 138, 0.52);
    border: .3rem solid rgba(255, 255, 255, 0.5);
}

div h2{
    font-family:'Righteous', cursive;
    font-size: 3rem;
    display: block;
    color: rgba(255, 255, 255, 0.8);
}

div img{
    display: block;
}