.box-login{
    width: 40rem;
    height: 40rem;
    background-color: rgba(255, 255, 255, 0.36);
    border: 2px solid #1B3A5D;
    border-radius: 5rem;
    margin-left: 14rem;
    margin-top: 4rem;
    /* display: flex; */
    margin-bottom: 5rem;
}

/* .div-form{
    display: flex;
} */

.div-img-user{
    display: block;
    margin: auto;
    width: 25rem;
    height: 25rem;
}

 .inputs-login{
    display: block;
}  
input{
    display: block;
    margin: 0 auto 1rem auto;
    width: 18rem;
    height: 4rem;
    background-color: rgba(27, 58, 93, 1);
    border: none;
    border-radius: 5rem;
    font-family: Poppins, sans-serif;
    font-size: 1.5rem;
    color: white;
}

input::placeholder{
color: rgba(255, 255, 255, 0.36);;
}
button{
    display: block;
    margin: auto;
    width: 10rem;
    padding: 1rem;
    border-radius: 5rem;
    border:  3px solid #1B3A5D;
    cursor: pointer;
} 
