body{
    background-color:rgba(27, 58, 93, 1);
}
.logo-text{
    color: white;
}
ul li a{
    color: white;
}

div{
    display: flex;
    align-items: center;
    margin: auto;
    width: 600;
    height: 600;
    background-color: rgba(43, 88, 138, 0.52);
}

div h2{
    font-family:'Righteous', cursive;
    font-size: 3rem;
    display: block;
}