body{
    background-color:rgba(27, 58, 93, 1);
}
.logo-text{
    color: white;
}



ul li a{
    color: white;
}

main div{
    display: flex;
    align-items: center;
    margin: auto;
    width: 60rem;
    height: 60rem;
    background-color: rgba(43, 88, 138, 0.52);
    border: .5rem solid rgba(255, 255, 255, 0.6);
}

div h2{
    font-family:'Righteous', cursive;
    font-size: 3rem;
    display: block;
}

div img{
    display: block;
}