.box-form{
    border-radius: 2rem;
    /* width: 34rem; */
    width: 96.1rem;
    /* height: 34rem; */
    height: 92.5rem;
    background-color: white;
    margin: 5rem auto;
    border: .2rem solid rgba(0, 0, 0, 1);
}

.div-choose-file-and-user-img{
    display: flex;
}
.div-user-img{
    margin: auto;
}

.choose-file{
    position: absolute;
    top: 35rem;
    right: 25rem;
}

.div-normal-inputs{
    margin: auto;
    width: 55rem;
}


.select-area{
    width: 20rem;
    background-color: rgba(27, 58, 93, 1);
    color: white;
    font-size: 2rem;
}

.div-btn-and-tag-a{
    display: flex;
    align-items: center;
}

.send-btn{
    display: block;
    width: 20rem;
    color: white;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    padding: 2rem;
    border-radius: 3rem;
    font-size: 2.5rem;
    font-family: 'Righteous', cursive;
    margin-top: 3rem;
    cursor: pointer;
    transition: 1s all;
}

.send-btn:hover{
    background-color: rgb(53, 104, 163);
    /* border: 3px solid #1B3A5D; */
    /* color: rgba(0, 0, 0, 1); */
}

.div-btn-and-tag-a a{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin: 3.6rem 0 0 3rem;
    transition:0.3s all ;
}

.div-btn-and-tag-a a:hover{
    text-decoration: underline;
}    